<div>
  <h2>User info</h2>
 <%= image_tag user.get_profile_image(100,100) %>
   <table class="table">
     <tbody>
      <tr>
       <th>name</th>
       <th><%= user.name %></th>
      </tr>
      <tr>
       <th>introduction</th>
       <th><%= user.introduction %></th>
      </tr>
     </tbody>
   </table>
       <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block hover" do %>
   <i class="fas fa-user-cog"></i>
  <% end %>
</div>

<div>
  <h2>New book</h2>
  <%= form_with model: Book.new do |f| %>
  <a>Title</a>
  <input class="form-control book_title" type="text" name="book[title]" id="book_title"></input>
  <a>Option</a>
  <textarea class="form-control book_body" name="book[body]" id="book_body"></textarea>
  <%= f.submit 'Create Book', class: "btn btn-success" %>
  <% end %>
</div>